.card {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: hotpink;
}

.card img {
    display: block;
    max-width: 100%; /* 카드 안넘치게 */
    height: auto;    /* 비율 유지 */
}


.card:hover {
    transition-duration: 0.2s;
    background-color: aquamarine;
}

.card-title {
    width:100%;
    text-align:center;
    background-color: burlywood;
}